
.allproduct-page {
  display: flex;
  min-height: 100vh;
  /* background: #161414; */
  width: 1330px;
  margin-top: 13rem;
  box-shadow:  4px -4px 9px  #E7F3F5;
  
  
}

.product-list {
  flex: 1;
  padding: 20px;
  /* background-color: aliceblue; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
   
  
  gap: 16px;
}

.product-card {
  background:   #E7F3F5 ;
  width: 300px;
  height: 390px;
  border-radius: 8px;
  padding: 20px;
  
  text-align: center;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /* cursor: pointer; */
}

.product-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px rgba(0,0,0,0.12);
}

.product-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 6px;
}

.product-card span {
  display: block;
  margin-top: 0.7rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: #333;
  text-align: start;
}

h2 {
  grid-column: 1 / -1;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
  color: #444;
}

.quantity-controls{
  margin-top: 1rem;
  display: flex;
  width: 300px;
  height: 30px;
  justify-content: space-between;
  gap: 0.5rem;
  
}

.counter-btn {
 border: 1px solid  #D49A38;
 display: flex;
 width: 100px;
 height: 40px;
 justify-content: space-between;
 border-radius: 0.4rem;

 
}

.counter-btn span{
  font-size: 1.3rem;
}

.counter-btn button{
  border: none;
  width: 40px;
  height: 40px;
  background: none;
  font-size: 1.3rem;
}

.addcart-btn{
  height: 40px;
  border: 1px solid black;
  border-radius: 0.4rem;
  overflow: hidden;
}

.addcart-btn button{
  width: 200px;
  height: 40px;
  border: none;
  background: none;
    color: white;
background-color: #D49A38;
font-size: 1rem;
font-weight: 700;

}


.weight-selector select{
  width: 300px;
  height: 40px;
  border: none;
  border: 1px solid #D49A38;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  font-weight: 400;
  
  
}



