.cart-container {
    margin-top: 13rem;
  /* padding: 20px; */
  width: 100%;
  /* height: 400px; */
}

.cart-title {
  font-size: 24px;
  margin-bottom: 15px;
}

.cart-item {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-item-info {
  display: flex;
  align-items: center;
}

.cart-item-image {
  width: 100px;
  border-radius: 5px;
}

.cart-item-details {
  margin-left: 15px;
}

.remove-btn {
  background-color: rgb(190, 178, 154);
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: rgb(131, 15, 15);
}

.cart-total {
  margin-top: 20px;
  font-weight: bold;
}

.empty-cart {
  padding: 20px;
  text-align: center;
  height: 300px;
  margin-top: 13rem;
}
