.sidebar {
  width: 150px;
  margin-left: 2rem;
  background: #ffffff;
  border-right: 1px solid #e5e5e5;
  padding: 15px 10px;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 8px;
  /* border: 1px solid black; */
  box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.2), 2px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
    position: relative; /* needed for green line */

}

.sidebar-item:hover {
  background: #f5f5f5;
}

.sidebar-item img {
  width: 38px;
  height: 38px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar-item span {
  font-size: 15px;
  font-weight: 600;
  color: #333;
}

.sidebar-item.active {
  background: #f0fff4; /* light green bg */
}

.sidebar-item.active::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: green;
  border-radius: 2px;
}
