
/* fottter section */
.fotter-container{
    /* margin-top: 1rem; */
    /* border-top: 1px solid rgb(146, 144, 144); */
    /* background-color: black ; */
    height: 250px;
    display: flex;
    justify-content: center;
    background-color:  #2c3e50;
    border-bottom: 1px solid white;

}

.stamp{
    background-color: #2c3e50;
    color: wheat;
    padding-left: 2rem;
    height: 4rem;
    padding-top: 1.3rem;
    
}





.fotter-content{
margin-top: 2rem;
display: flex;
gap: 25rem;
/* margin: 3rem; */
/* margin-left: 2rem; */
/* margin-right: 2rem; */
/* padding: 2rem; */

}

.range{
display: flex;
flex-direction: column;
gap: 0.5rem;
/* margin-left: 4rem; */

}
.range h1{
font-size: 1.7rem;
color: wheat;
margin-bottom: 1rem;
}


.range a{
text-decoration: none;
color: wheat;
font-size: 1.2rem;
font-weight: 600;
font-style: initial;
}

.About{
display: flex;
flex-direction: column;
gap: 0.5rem;

}

.About h1{
margin-bottom: 1rem;
color: white;
}
.About a{
text-decoration: none;
color: whitesmoke;
font-size: 1.2rem;
font-weight: 400;
font-style: initial;
}
.Legal{
display: flex;
flex-direction: column;
gap: 0.5rem;
/* margin-left: 14rem; */


}

.Legal h1{
margin-bottom: 1rem;
font-size: 1.7rem;
color: wheat;
}
.Legal a{
text-decoration: none;
color: wheat;
font-size: 1.2rem;
font-weight: 600;
font-style: initial;
}

.socialicon a{
  margin: 0.5rem;
}

.socialicon h1{
    font-size: 1.3rem;
    color:wheat;
}



.authlogo img{
    width: 200px;
    height: 200px;
    margin-left: 15rem;
    /* overflow: hidden; */

}


